.combobox-select{
    position: relative;
}
.combobox-select_icon{
    width: 32px;
    height: 30px;
    cursor: pointer;
    right: 1px;
    top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.combobox-select_icon:hover{
    background-color: #E0E0E0;
}
.select_icon-combobox{
    background: url('../logo/Sprites.64af8f61.svg') no-repeat;
    background-position: -560px -359px;
    width: 16px;
    height: 16px;
    transition: all 0.3s ease;
}
.combobox-combobox_select{
    position: absolute;
    width: 100%;
    left: 0;
    top: 130%;
    border: solid 1px var(--border__input);
    background-color: var(--while__color);
    border-radius: 2px;
    padding: 3px 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.1s ease;
}
.combobox-select.active .combobox-combobox_select{
    opacity: 1;
    visibility: visible;
    top: 110%;
}
.combobox-combobox_item{
    white-space: nowrap;
    text-align: left;
    padding: 5px 10px;
    cursor: pointer;
    color: inherit ;
}
.combobox-combobox_item:hover{
    background-color: #EBEDF0;
    color: var(--primary__color);
}
.combobox-select.active .select_icon-combobox{
    transform: rotate(180deg);
}
.combobox-combobox_item.active{
    background-color: var(--primary__color);
    color: var(--while__color);
}